@import url('https://fonts.cdnfonts.com/css/inter');

:root {
    --primary: #1F222B;
    --secondary: #2C43C7;
    --tertiary: #F8F8F8;
    --quaternary: #232323;
}

* {
    margin: 0;
    padding: 0;
}



html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

div {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.background-upper {
    background-color: black;
    height: 720px;
}

.linear-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Espacio entre los iconos */
    padding: 20px 0;
    position: absolute;
    width: 100%; /* Extiende el menú al ancho de la pantalla */
    top: 0;
    background-color: black; /* Fondo del menú */
    z-index: 10; /* Asegura que esté sobre otros elementos */
}

.linear-menu a {
    text-decoration: none;
    color: white; /* Color de los iconos */
    font-size: 1.5rem; /* Tamaño de los iconos */
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.linear-menu a:hover {
    color: var(--secondary);
    transform: scale(1.2); 
}

.background-bottom {
    background-color: #FFFFFF;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 60px 80px;
    width: 85%;
}

.container-gallery {
    background-color: red;
    height: 600px;
    position: relative;

}


.image-container-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.image-container-gallery img {
    object-fit: contain;
    width: 100%;
    height: auto;
}


.container-content {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-card-information {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em;
    gap: 1em;
    border-right:  1px solid rgba(0, 0, 0, 0.2);
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);

}

.card-information-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em;
    gap: 1em;
}

.card-information-icon,
.card-information-title,
.card-information-description {
    display: flex;
    justify-content: center;
}

.card-information-icon i {
    font-size: 2em;
}

.card-information-title h3,
.card-information-description {
    text-align: center;
}

.container-daily-deal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.day-deal-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.day-deal-information>div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 80%; 
}

.daily-deal-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.daily-deal-image img {
    object-fit: contain;
}

.day-deal-information-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

.day-deal-information-product {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.day-deal-information-product-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.day-deal-information-price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.day-deal-information-price div:first-child {
    color: var(--secondary);
    font-size: 2em;
    font-weight: 700;
}

.day-deal-information-price div:last-child {
    color: var(--quaternary);
    font-size: 2em;
    font-weight: 700;
    text-decoration: line-through;
}

.day-deal-information-counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding: 1.5em 2em;
    border-radius: 5px;
}

.counter div:first-child {
    font-size: 1.8em;
    color: var(--primary);
}

.counter div:last-child {
    font-size: 1em;
    color: var(--secondary);
}




.container-popular-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.shoe-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px;
    border-right:  1px solid rgba(0, 0, 0, 0.2);
    border-top:  1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.shoe-card-final {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.shoe-card .title {
    font-weight: 700;
    margin-top: 24px;
}

.shoe-card .price {
    color: var(--secondary);
    font-weight: 600;
}

.shoe-card-final .title {
    font-weight: 700;
    margin-top: 24px;
}

.shoe-card-final .price {
    color: var(--secondary);
    font-weight: 600;
}

.popular-products-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--primary);
}

.popular-products-card .title {
    color: var(--tertiary);
    font-weight: 700;
}

.popular-products-card .description {
    color: var(--tertiary);
    font-weight: 500;
}

.popular-products-card a {
    margin-top: 24px;
    color: var(--tertiary);
    text-decoration: none;
}


.popular-products-card .icon-container i {
    color: var(--secondary);
    padding: 8px;
    font-size: 2em;
    border: 4px dotted var(--secondary);
    border-radius: 25px;
}


.rated {
    grid-column: span 2;
    position: relative; /* Establece un marco de referencia para posicionar elementos absolutos */
}

.image-rated {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 310px;
    position: relative;
}

.image-rated img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.image-rated .more-info-link {
    position: absolute;
    bottom: 15px;
    right: 4%;
    background-color: var(--quaternary);
    color: #fff;
    padding: 16px 16px;
    border-radius: 32px;
    text-decoration: none;
    font-size: 1em;
    z-index: 1;
}

.image-rated .more-info-link:hover {
    background-color: rgba(0, 0, 0, 0.9);
}